@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Patient

<h2>Assign a Doctor</h2>

<h4>Assign a Doctor to this Patient: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.PatientId)

  @Html.Label("Select a Doctor")
  @Html.DropDownList("DoctorId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to Manage Patients", "Index")</p>

